[Unit]
Description = ANET (Advisor Network) Service
After = postgresql-{{postgresql_major_version}}.service
[Service]
ExecStart = /opt/anet/anet-{{anet_version}}bin/anet server anet.yml
WorkingDirectory = /opt/anet
[Install]
WantedBy = multi-user.target
